<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gradelist</title>
</head>
<body>
<ul>
    {% for grade in grade_list %}
        <li><a href="/two/students/{{ grade.id }}/">{{ grade.g_name }}</a></li>
    {% endfor %}
</ul>

<hr>
<a href="/two/learn">go learn</a>

<hr>
<a href="{% url 'second:learn' %}">GO GO GO</a>

<hr>
<a href="{% url 'second:get_time' 22 07 48%}">time time</a>

<hr>
<a href="{% url 'second:get_date' year=2020 month=05 day=25 %}">date</a>
</body>
</html>